body{
  background-color:#ecf0f1;
}

.App {
  margin: 60px auto;
  width: 400px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

h4 {
  margin-bottom: 0;
}

.incomeExpense {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;  
}

.income {
  padding: 10px;
  background: #27ae60;
  color: white;
}

.expense {
  padding: 10px;
  background: #e74c3c;
  color: white;
}

.transactionList{
  margin-bottom:30px;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li{
  background-color:#fff;
  padding-left:5px;
  padding-right:5px;
  margin-bottom:10px;
}

li span{
  float:right;
}

.credit{
  border-right:4px solid #27ae60;
}

.debit{
  border-right:4px solid #e74c3c;
}
